@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
	font-family: "Inter", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #f4f4f5;
  }
  
  main {
	background-color: white;
	padding: 20px;
  }
  
  h4 {
	font-weight: 600;
	font-size: 1.5rem;
  }
  
  
  .playground-icon {
	width: 50px;
	height: 50px;
  }
  
  
  .playground-language {
	font-size: 1.5rem;
  }
  
  
  .description, .collaborators {
	color: #71717a;
	text-align: left;
  }
  